body {
  font-family: "Montserrat", sans-serif;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  margin: 0;
}
.main {
  display: flex;
  height: 100vh;
  padding: 0.5rem;
}

.sidebar {
  background-color: #000;
  width: 340px;
  border-radius: 1rem;
  margin-right: 0.5rem;
}

.main-content {
  background-color: #121212;
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
}

.music-player {
  background-color: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 72px;
}
.navbar {
  background-color: #121212;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  padding: 0.5rem 0.75rem;
}
a {
  color: #fff;
  text-decoration: none;
}
.nav-option {
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.5rem 0.75rem;
}

.nav-option:hover {
  opacity: 1;
}

.nav-option i {
  font-size: 1.25rem;
}

.nav-option a {
  font-size: 1rem;
  margin-left: 1rem;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.library {
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
}
.icons {
  display: flex;
  font-size: 1.25rem;
}

.icons i:hover {
  opacity: 1;
}

.icons i {
  opacity: 0.6;
  margin-right: 1rem;
}

.lab-optino img {
  height: 1.25rem;
  width: 1.25rem;
}

.box {
  background-color: #232323;
  height: 8rem;
  border-radius: 0.75rem;
  margin: 0.5rem 0 1.75rem 0;
  padding: 0.75rem 1rem;
}
.box-p1 {
  font-size: 1rem;
  font-weight: 500;
}
.box-p2 {
  font-size: 0.85rem;
  opacity: 0.9;
}
.badge {
  background-color: #fff;
  border: none;
  border-radius: 100px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
  height: 2rem;
  width: fit-content;
}

.sticky-nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
}
.sticky-nav-icon {
  margin-left: 0.5rem;
}
.sticky-nav-ops {
  justify-content: center;
  align-items: center;
  display: flex;
}
.nav-item {
  margin-right: 1rem;
}
.dow {
  margin-right: 0.25rem;
}
.install {
  background-color: #000;
  color: #fff;
}
@media (max-width: 1000px) {
  .hide {
    display: none;
  }
}

.song {
  background-color: #232323;
  width: 150px;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}
.song-img {
  width: 100%;
  border-radius: 0.5rem;
}
.song-title {
  font-weight: 600;
}
.song-info {
  font-size: 0.85rem;
  opacity: 0.8;
}
.footer {
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.line {
  width: 95%;
  height: 90%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  /* justify-content:space-between; */
}
.foot {
  width: 190px;
  height: 182px;
  text-align: start;
  color: #b3b3b3;
  font-size: 15px;
  padding: 0;
}
.foot ul {
  list-style: none;
  padding: 0;
}
.foot li {
  margin-bottom: 10px;
}
.heading {
  color: white;
  font-weight: 700;
}
.brand {
  font-size: 1.45rem;
}

.social_media {
  color: white;
  display: flex;
  align-items: start;
  margin-left: 100px;
  justify-content: end;
}
.social_media i {
  color: white;
  opacity: 0.5;
  padding: 0px 5px;
  font-size: 1.55rem;
  margin-left: 10px;
}
.social_media i:hover {
  opacity: 1;
  transform: scale(1.2);
}
.brand {
  width: 230px;
}
.foot-a a {
  text-decoration: none;
  color: #b3b3b3;
  margin-left: 20px;
  font-size: 14px;
}
.foot-a a:hover {
  color: rgb(12, 235, 12);
}
.foot-a {
  margin-top: 50px;
  margin-left: 20px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}
